language: cpp

matrix:
    include:
        - os: linux
          name: "FesapiCpp with dynamic HDF5 (gcc 4.8.4)"
          sudo: required
          dist: trusty
          compiler: gcc
          script:
            - cmake --version
            - mkdir ../build
            - cd ../build
            - cmake $TRAVIS_BUILD_DIR
                -DUUID_INCLUDE_DIR=/usr/include
                -DUUID_LIBRARY_RELEASE=/usr/lib/x86_64-linux-gnu/libuuid.so
                -DHDF5_C_INCLUDE_DIR=/usr/include
                -DHDF5_C_LIBRARY_RELEASE=/usr/lib/x86_64-linux-gnu/libhdf5.so
                -DMINIZIP_INCLUDE_DIR=$TRAVIS_BUILD_DIR/../dependencies/minizip-1.1-linux-ubuntu1604-x86_64-gcc540/include
                -DMINIZIP_LIBRARY_RELEASE=$TRAVIS_BUILD_DIR/../dependencies/minizip-1.1-linux-ubuntu1604-x86_64-gcc540/lib/libminizip.a
                -DZLIB_INCLUDE_DIR=/usr/include
                -DZLIB_LIBRARY_RELEASE=/usr/lib/x86_64-linux-gnu/libz.so
                -DWITH_EXAMPLE=TRUE
                -DWITH_JAVA_WRAPPING=TRUE
            - cmake --build . -- -j 2
            - ./example/example
            - ctest -V
        - os: linux
          name: "FesapiCpp with dynamic HDF5 (clang 5.0.0), unit test and experimental"
          sudo: required
          dist: trusty
          compiler: clang
          script:
            - cmake --version
            - mkdir ../build
            - cd ../build
            - cmake $TRAVIS_BUILD_DIR
                -DUUID_INCLUDE_DIR=/usr/include
                -DUUID_LIBRARY_RELEASE=/usr/lib/x86_64-linux-gnu/libuuid.so
                -DHDF5_C_INCLUDE_DIR=/usr/include
                -DHDF5_C_LIBRARY_RELEASE=/usr/lib/x86_64-linux-gnu/libhdf5.so
                -DMINIZIP_INCLUDE_DIR=$TRAVIS_BUILD_DIR/../dependencies/minizip-1.1-linux-ubuntu1604-x86_64-gcc540/include
                -DMINIZIP_LIBRARY_RELEASE=$TRAVIS_BUILD_DIR/../dependencies/minizip-1.1-linux-ubuntu1604-x86_64-gcc540/lib/libminizip.a
                -DZLIB_INCLUDE_DIR=/usr/include
                -DZLIB_LIBRARY_RELEASE=/usr/lib/x86_64-linux-gnu/libz.so
                -DWITH_EXAMPLE=TRUE
                -DWITH_EXPERIMENTAL=TRUE
                -DWITH_TEST=TRUE
            - cmake --build . -- -j 2
            - ./example/example
            - ctest -V
addons:
  apt:
    packages:
      - uuid-dev
      - zlib1g-dev
      - libhdf5-dev #1.8.11
      - swig

jdk: oraclejdk8

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get purge cmake; fi
  - sudo rm -rf /usr/local/cmake-*
  - mkdir ../dependencies
  - cd ../dependencies
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      wget https://github.com/F2I-Consulting/Minizip/releases/download/1.1/minizip-1.1-linux-ubuntu1604-x86_64-gcc540.tar.gz;
      tar -xzf minizip-1.1-linux-ubuntu1604-x86_64-gcc540.tar.gz;
      wget https://cmake.org/files/v3.12/cmake-3.12.0-Linux-x86_64.sh;
      sudo sh cmake-3.12.0-Linux-x86_64.sh --prefix=/usr/local --exclude-subdir;
    fi
