language: cpp

jobs:
    include:
        - os: linux
          name: "FesapiCpp Debug with dynamic HDF5 (gcc 4.8) and valgrind"
          dist: trusty
          compiler: gcc
          script:
            - mkdir ../build
            - cd ../build
            - cmake $TRAVIS_BUILD_DIR
                -DCMAKE_BUILD_TYPE=Debug
                -DHDF5_1_8=TRUE
                -DHDF5_C_INCLUDE_DIR=/usr/include
                -DHDF5_C_LIBRARY_RELEASE=/usr/lib/x86_64-linux-gnu/libhdf5.so
                -DMINIZIP_INCLUDE_DIR=$TRAVIS_BUILD_DIR/../dependencies/Minizip-install/include
                -DMINIZIP_LIBRARY_RELEASE=$TRAVIS_BUILD_DIR/../dependencies/Minizip-install/lib/libminizip.a
                -DZLIB_INCLUDE_DIR=/usr/include
                -DZLIB_LIBRARY_RELEASE=/usr/lib/x86_64-linux-gnu/libz.so
                -DWITH_EXAMPLE=TRUE
            - cmake --build . -- -j 2
            - valgrind --leak-check=full --track-origins=yes --show-leak-kinds=all ./example/exampled
            
        - os: linux
          name: "FesapiCpp Release with dynamic HDF5 (clang 5.0.0), unit test and RESQML2.2"
          dist: trusty
          compiler: clang
          script:
            - mkdir ../build
            - cd ../build
            - cmake $TRAVIS_BUILD_DIR
                -DCMAKE_BUILD_TYPE=Release
                -DHDF5_1_8=TRUE
                -DHDF5_C_INCLUDE_DIR=/usr/include
                -DHDF5_C_LIBRARY_RELEASE=/usr/lib/x86_64-linux-gnu/libhdf5.so
                -DMINIZIP_INCLUDE_DIR=$TRAVIS_BUILD_DIR/../dependencies/Minizip-install/include
                -DMINIZIP_LIBRARY_RELEASE=$TRAVIS_BUILD_DIR/../dependencies/Minizip-install/lib/libminizip.a
                -DZLIB_INCLUDE_DIR=/usr/include
                -DZLIB_LIBRARY_RELEASE=/usr/lib/x86_64-linux-gnu/libz.so
                -DWITH_EXAMPLE=TRUE
                -DWITH_RESQML2_2=TRUE
                -DWITH_TEST=TRUE
            - cmake --build . -- -j 2
            - valgrind --leak-check=full --track-origins=yes --show-leak-kinds=all ./example/example
            - ctest -V
addons:
  apt:
    packages:
      - libboost-dev #1.54
      - libhdf5-dev #1.8.11
      - valgrind

install:
  - sudo apt-get purge cmake;
  - sudo apt-get purge swig;
  - sudo rm -rf /usr/local/cmake-*
  - mkdir ../dependencies
  - cd ../dependencies
  - wget https://cmake.org/files/v3.12/cmake-3.12.0-Linux-x86_64.sh;
  - sudo sh cmake-3.12.0-Linux-x86_64.sh --prefix=/usr/local --exclude-subdir;
  - git clone https://github.com/F2I-Consulting/Minizip.git
  - mkdir Minizip-build
  - cd Minizip-build
  - cmake -G "Unix Makefiles" -DCMAKE_INSTALL_PREFIX=$TRAVIS_BUILD_DIR/../dependencies/Minizip-install ../Minizip
  - cmake --build . --config Release
  - cmake --build . --config Release --target install
  - cd ../..
  - wget http://prdownloads.sourceforge.net/swig/swig-4.0.2.tar.gz;
  - tar -xzf swig-4.0.2.tar.gz;
  - cd swig-4.0.2;
  - ./configure;
  - make;
  - sudo make install;
