# Ignore everything in this directory
*
# Except this file
!.gitignore

# Except the example
!example.py
!etp_client_example.py
!/etp
!/etp/my_own_client_core_handlers.py
!/etp/my_own_discovery_protocol_handlers.py
!/etp/my_own_store_protocol_handlers.py
